.header{
    background-color: $primary-color;
    width: 80vw;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
}

.header__box{
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 50px;
    border-radius: 15px;
}

.header__title{
    margin: 0;
    display: flex;
    flex-grow: 1;
    font-size: 25px;
}

.header__form-search{
    width: 150px;
    border: 1px solid black;
    border-radius: 3px;
}

.header__form-btn{
    height: 25px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    vertical-align: middle;
}
