// main
.main{
    display: flex;
    max-height: 90vh;
    width: 80vw;
    margin: 0 auto;
}

.main__container{
    display: flex;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0 auto; 
}

/* Todo article*/

.task:hover{
    cursor: grab;
}

.modal__list:hover{
    cursor: grab;
}

.todo{
    display: flex;
    margin: 20px;
    width: 300px;
    height: 100%;
    max-height: 80vh;
    // background-color: $todo-color;
    background-color: $third-color;
    border-radius: 5px;
}

.todo__container{
    display: flex;
    flex-direction: column;
    max-height: 100%
}

.todo__header{
    display: flex;
    align-items: center;
    width: 300px;
    min-height: 38px;
    // background-color: $todo-color;
    background-color: $third-color;
    padding: 0 25px;
    box-sizing: border-box;
    border-radius: 5px;
}

.todo__title{
    display: flex;
    flex-grow: 1;
}

.todo__tasks{
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
}

.todo__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    min-height: 38px;
    margin: 0 auto;
    margin: 5px;
    // background-color: $todo-color;
    background-color: $third-color;
    border-radius: 5px;
}

.todo__button:hover {
    // background-color: #881a1b;
    background-color: #9b9ca0;
    cursor: pointer;
}

.todo__button:active {
    // box-shadow: 0px 0px 11px 5px rgb(69, 4, 4);
    box-shadow: 0px 0px 6px 3px rgb(98, 98, 98);
}

/* test task */
.todo__task{
    width: 270px;
    height: 1200px;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 0;
    background-color: white;
}

// Done article

.inprogress{
    display: flex;
    margin: 20px;
    width: 300px;
    height: 100%;
    max-height: 80vh;
    // background-color: $inprogress-color;
    background-color: $third-color;
    border-radius: 5px;
    // overflow-x: auto;
    // overflow-y: hidden;
}

.inprogress__container{
    display: flex;
    flex-direction: column;
    max-height: 100%
}

.inprogress__header{
    display: flex;
    align-items: center;
    width: 300px;
    min-height: 38px;
    // background-color: $inprogress-color;
    background-color: $third-color;
    padding: 0 25px;
    box-sizing: border-box;
    border-radius: 5px;
}

.inprogress__title{
    display: flex;
    flex-grow: 1;
}

.inprogress__tasks{
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
}

// Done article
.done{
    display: flex;
    margin: 20px;
    width: 300px;
    height: 100%;
    max-height: 80vh;
    background-color: $third-color;
    border-radius: 5px;
}

.done__container{
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.done__header{
    display: flex;
    align-items: center;
    width: 300px;
    min-height: 38px;
    // background-color: $done-color;
    background-color: $third-color;
    padding: 0 25px;
    box-sizing: border-box;
    border-radius: 5px;
}

.done__title{
    display: flex;
    flex-grow: 1;
}

.done__tasks{
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
}

.done__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    min-height: 38px;
    margin: 0 auto;
    margin: 5px;
    // background-color: $done-color;   // Tasks containers different color
    background-color: $third-color;
    border-radius: 5px;
}

.done__button:hover {
    // background-color: #738862;
    background-color: #9b9ca0;
    cursor: pointer;
}

.done__button:active {
    // box-shadow: 0px 0px 11px 5px rgb(109, 100, 100);
    box-shadow: 0px 0px 6px 3px rgb(98, 98, 98);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
    display: none;
}

.overlay.is-show{
    display: block;
}

@include xl {
    .main{
        max-height: 80vh;
    }    
    .todo{
        margin: 20px 20px 0 0;
    }

    .inprogress{
        margin: 20px 20px 0 0;
    }

    .done{
        margin: 20px 20px 0 0;
    }
}

