.wrapper{
    background-image: linear-gradient(120deg, #d17778, #92aa7f);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}