.wrapper{
    background-image: linear-gradient(360deg, #5346a4, #558bdb);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
