// Small devices 576px
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
 }
 
 // Medium devices 768px
 @mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
 }
 
 // Large devices 992px
 @mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
 }
 
 // Extra large devices 1200px
 @mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
 }

 @mixin btn {
    height: 27.6px;
    padding: 1px 8px;
   //  border: 2px solid #1957db;
    border: 2px solid $third-color;
    border-radius: 5px;
    color: black; 
    background-color: white;
 }

 @mixin btn-hoover {
    background-color: $third-color;
    color: white;
 }

 @mixin btn-active {
   //  box-shadow: 0px 0px 2px 3px rgb(122, 119, 122);
    box-shadow: 0px 0px 6px 3px rgb(98, 98, 98);
 }