// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

// Primary color (header)
$primary-color: #CBDEF6;

//Secondary color (wrapper)
$secondary-color: #fefae0;

// third color (todo buttons and todo header)
$third-color: #d4d3d3;

// fourth color (todo lists background)
$fourth-color: #EBECF0;

// todo color
$todo-color: #e26a6c;

// in-progress color
$inprogress-color: #F3722C;

// done color
$done-color: #90BE6D;
